<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Testng1">
    <classes>
      <class name="mavenjavaone.mavenjavaone.SeleniumTest"/>
      <class name="mavenjavaone.mavenjavaone.AppiumTest"/>
      
    </classes>
  </test> <!-- Testng1 -->
</suite> <!-- Suite -->
